@model List<BalloonParty.Core.Models.Customer>

@{
    ViewData["Title"] = "Index";
}

<h1>Customers</h1>

<p>
    <a class="button" asp-action="Create">Create New</a>
    <a class="button" asp-controller="CustomerOrderrs" asp-action="Index">Orders</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().LastName)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.CustomerPw)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.First().Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().ZipCode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.CustomerPw)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZipCode)
            </td>
            <td>
                <a class="button" asp-action="Edit" asp-route-id="@item.EmailAddress">Edit</a>
                <a class="button" asp-action="Details" asp-route-id="@item.EmailAddress">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
