@model List<BalloonParty.Core.Models.Store>

@{
    ViewData["Title"] = "Index";
}

<h1>Store Locations</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().StoreName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().ZipCode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StoreName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZipCode)
            </td>
            <td>
                <a class="button" asp-action="Details" asp-route-id="@item.StoreID">Store Info</a>
                <a class="button" asp-controller="StoreInventory" asp-action="Index" asp-rote-id="@item.StoreID">Inventory</a>
                <a class="button" asp-controller="CustomerOrderrs" asp-action="Create">Shop Store</a>

            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a class="button" asp-action="Create">Create New Store Location</a>

</p>